 <%- include('partials/header') %>


 <h1>About this project</h1>
<img class="profile" src="images/preview.gif" alt="profile">
<p>
  One of my project, small project but i'm proud of it. With this i learned using ejs, passing data to backend using node + express, and implementing database. 
Further features and fixes are en-route, further more doing this project also gives me knowledge to do other and possibly more complex project.


      - Art Credit to respected Artists (found on external site)
</p>

    <%- include('partials/footer') %>